{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'apidoc.title'|trans }}</h2>

    <p>{{ 'apidoc.first'|trans }}</p>

    <code class="language-html" data-lang="html">
        {{ url('encodeByUrl', {'origin': 'http://google.com/'}) }}
    </code>

    <p>{{ 'apidoc.second'|trans }}</p>

    <code class="language-js" data-lang="js">
        <div>{</div>
            <div class="padding-lvl1">"status": "ok",</div>
            <div class="padding-lvl1">"url": "http:\/\/{{ project_url }}\1VRFGeq57EQ8DSRIVX",</div>
            <div class="padding-lvl1">"token": "1VRFGeq57EQ8DSRIVX"</div>
        <div>}</div>
    </code>
{% endblock %}
