<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ project_name }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jumbotron-narrow.css') }}" />
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation">
                        </li>
                        <li role="presentation" class="active">
                            <a href="https://github.com/juanantoniodelgado/Url-Shortener">{{ 'github.fork.me'|trans }}</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">
                    <a href="{{ path('homepage') }}">{{ project_name }}</a>
                </h3>
            </div>

            {% block body %}{% endblock %}

            <footer class="footer">
                <p>{{ 'footer.text'|trans|raw }}</p>
            </footer>
        </div>

        <script href="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
